.filter{
    font-family: Arial, Helvetica, sans-serif;
    background: var(--light-purple);
    color: var(--dark-purple);
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: grid;
}

.tags{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5 0.5rem;
}

h1{
    text-align: center;
    margin: 1rem;
}
h3{
    padding: 0.5rem;
    margin: 0;
}
.checkbox{
    margin: 0.5rem;
}
.checkbox input[type="checkbox"]{
    display: none;
}

.checkbox .checkmark{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: var(--light-gray);
    border: 2px solid var(--dark-purple);
    border-radius: 2px;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
}
.checkbox input:checked + .checkmark::after{
    content: "";
    position: absolute;
    left: 0.2rem;
    top: -0.15rem;
    width: 0.5rem;
    height: 0.9rem;
    border: solid var(--dark-purple);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}