<section class="filter">
    <h1>Filter</h1>
    <div>
        @for(type of ['Representation', 'Genre']; track type){
            <h3>{{ type }}</h3>
        
            @for (tag of availableTags; track tag.title) {
                @if(tag.type === type){
                    <label>
                        <input type="checkbox"
                        [checked]="selectedTagTitles.has(tag.title)"
                        (change)="toggleTag(tag)"/>
                        {{ tag.title }}
                    </label>
                }
            }
        }
    </div>
</section>