.filter{
    --dark-purple: #4A2040;
    --light-purple: #BAACBD;
    --dark-gray: #554E52;
    --light-gray: #C9C5CB;
    --dark-green: #416244;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--light-purple);
    color: var(--dark-purple);
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button{
    grid-area: button;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    font-size: 16px;
    border-color: var(--dark-purple);
    border-radius: 0.5rem;
    background-color: transparent;
    cursor: pointer;
}