main{
     --dark-purple: #4A2040;
    --light-purple: #BAACBD;
    --dark-gray: #554E52;
    --light-gray: #C9C5CB;
    --dark-green: #416244;
    background: var(--dark-gray);
}
h1{
    color: var(--dark-purple);
}
.filter{
    background: var(--light-purple);
}
.book_list{
    background: var(--light-purple);
}