article{
    --dark-purple: #4A2040;
    --light-purple: #BAACBD;
    --dark-gray: #554E52;
    --light-gray: #C9C5CB;
    --dark-green: #416244;
    color: var(--light-purple);
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 1rem 1rem 0rem;
}
.book_list{
    display: grid;
    grid-template-columns: 50% 50%;
}

.book_list_item{
    background-color: var(--light-purple);
    color: var(--dark-purple);
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:"title ."
                        "author button" ;
}

.pagination{
   
    width: 50%;
    margin: auto;
}

.pagination_button{
    width: 7rem;
}

span{
    padding-right: 1rem;
}
h1{
    text-align: center;
}
h3{
    grid-area: title;
    margin: 0.5rem 0rem 0rem 0.5rem;
    padding: 0rem;
}
button{
    grid-area: button;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    font-size: 16px;
    border-color: var(--dark-purple);
    border-radius: 0.5rem;
    background-color: var(--light-purple);
    color: var(--dark-purple);
    cursor: pointer;
}
p{
    grid-area: author;
    margin: 0.5rem 0rem 0.5rem 0.5rem;
    padding: 0rem;
}