.modal_backdrop {
  --dark-purple: #4A2040;
  --light-purple: #BAACBD;
  --dark-gray: #554E52;
  --light-gray: #C9C5CB;
  --dark-green: #416244;
  position: fixed;
  inset: 0;
  background-color: rgba(85, 78, 82, 0.5);
  z-index: 99;

  display: flex;
  align-items: center;
  justify-content: center;
 /* z-index: 1040;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);*/
}
.modal {
  background-color: var(--light-purple);
  padding: 2rem;
  border-radius: 1rem;
  color: var(--dark-purple);
  position: fixed; 
  top:50%; 
  left:50%;
  transform: translate(-50%, -50%);
  margin: 5% auto;
  z-index: 100;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto auto auto 1fr;
  width: 70%;
  max-width: 900px;
  
}

.book_details{
  display: contents;
}

.title{
  grid-row: 1;
  margin: 0;
  padding: 0.5rem;
}

.author{
  grid-row: 2;
  margin: 0;
  padding: 0.5rem;
}

.publication_date{
  font-size: 14px;
  grid-row: 3;
  margin: 0;
  padding: 0.5rem;
}

.description{
  grid-row: 4;
  margin: 0;
  padding: 0.5rem;
}

.book_tags{
  grid-column: 2;
  grid-row: 4;
}

.close_button{
  background: transparent;
  color: var(--dark-purple);
  border: none;
  cursor: pointer;
  font-size: 24px;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
}

ul{
  list-style-type: none;
  margin-bottom: 5rem;
}

li{
  border-style: solid;
  border-width: 2px;
  border-color: var(--dark-purple);
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
}