header{
    --dark-purple: #4A2040;
    --light-purple: #BAACBD;
    --dark-gray: #554E52;
    --light-gray: #C9C5CB;
    --dark-green: #416244;
    display: flex;
    align-items: flex-end;
    width: 100%;
    background: var(--dark-purple);
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 1rem 0rem 1rem;
}
.logo{
    width: 13rem;
    align-self: left;
    padding-bottom: 1rem;
}
nav{
    font-size: 24px;
    text-decoration: none;
    color: var(--light-gray);
    padding-bottom: 0.2rem;
    padding-top: auto;
    padding-top: 1rem;
    
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right:auto;
}

a{
    text-emphasis: none;
    text-decoration: none;
    color: var(--light-gray);
    margin: 0 5rem;
}
a:hover{
    text-decoration: underline;
}
