main{
    --dark-purple: #4A2040;
    --light-purple: #BAACBD;
    --dark-gray: #554E52;
    --light-gray: #C9C5CB;
    --dark-green: #416244;
    background: var(--dark-gray);
    display: grid;
    grid-template-columns: 30% 70%;
}
h1{
    color: var(--dark-purple);
}
.filter{
    background: var(--light-purple);
}