.modal-backdrop {
  --dark-purple: #4A2040;
  --light-purple: #BAACBD;
  --dark-gray: #554E52;
  --light-gray: #C9C5CB;
  --dark-green: #416244;
  background: var(--light-gray);
  width: 100%;
  height: 100%;
}
.modal {
  background-color: var(--light-purple);
  padding: 2rem;
  border-radius: 1rem;
  color: var(--dark-purple);
  position: fixed; top:50%; left:50%;
  transform: translate(-50%, -50%);
  
  z-index: 100;
}

.publication_date{
  font-size: 14px;
}